#megamenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
  padding: 0;
  list-style: none;
  background: #fff;
  width: 100%;
  height: 80px;
}

#megamenu .menu_item_a_0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 12px 10px;
  color: #555555;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

#megamenu .menu_item_a_0 i {
  margin-left: 5px;
}

#megamenu .menu_item_a_0:hover {
  color: #ee4d2d;
  border-bottom: solid 2px #ee4d2d;
}

#megamenu li ul {
  visibility: hidden;
  position: absolute;
  min-width: 200px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  background: #fff;
  -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
          filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  top: 81px;
  left: 0;
  list-style: none;
}

#megamenu li ul.droplv1 {
  top: 0;
  left: 100%;
}

#megamenu li ul .level_1 .menu_item_a_1 {
  padding: 12px 16px;
  color: #010506;
  font-weight: 500;
  position: relative;
}

#megamenu li ul .level_1 .menu_item_a_1:hover {
  color: #ee4d2d;
}

#megamenu li ul .level_1 .menu_item_a_1 i {
  position: absolute;
  top: 14px;
  right: 16px;
}

#megamenu li ul .level_1 .droplv1 .level_2 .menu_item_a_2 {
  padding: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

#megamenu li ul .level_1 .droplv1 .level_2 .menu_item_a_2:hover {
  background: unset;
  color: #ee4d2d;
}

#megamenu li ul .level_1 .droplv1 .level_2 .droplv2 .level_3 .menu_item_a_3 {
  margin-bottom: 8px;
  padding: 4px 16px;
}

#megamenu li ul .level_1 .droplv1 .level_2 .droplv2 .level_3 .menu_item_a_3:hover {
  background: unset;
  color: #ee4d2d;
}

#megamenu li.level_0 {
  position: relative;
}

#megamenu li.activated > a {
  color: #fd0d00;
}

#megamenu li.activated > a i {
  color: #232020;
}

#megamenu li:hover > ul {
  display: block;
  visibility: visible;
}

#megamenu li.level_1:hover ul {
  display: block;
  visibility: visible;
}

#megamenu li.level_1:hover ul ul {
  position: unset;
  min-width: unset;
  border-radius: 0;
  -webkit-filter: none;
          filter: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  padding: 0;
}

#megamenu li.level_1:hover ul.droplv1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -1px;
  margin-left: 2px;
}

#megamenu li.level_1:hover ul.droplv1 li {
  width: 100%;
  min-width: 150px;
}

#megamenu li.level_1:hover ul.droplv1 li.droplv2 li {
  font-weight: 400 !important;
}

#megamenu li.level_1 {
  min-width: 150px;
}

#megamenu .li1,
#megamenu .li2,
#megamenu .li3,
#megamenu .li4,
#megamenu .li331 {
  position: unset !important;
}

#megamenu .li1:hover ul,
#megamenu .li2:hover ul,
#megamenu .li3:hover ul,
#megamenu .li4:hover ul,
#megamenu .li331:hover ul {
  display: block;
  visibility: visible;
}

#megamenu .li1:hover > ul,
#megamenu .li2:hover > ul,
#megamenu .li3:hover > ul,
#megamenu .li4:hover > ul,
#megamenu .li331:hover > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#megamenu .li1:hover > ul ul,
#megamenu .li2:hover > ul ul,
#megamenu .li3:hover > ul ul,
#megamenu .li4:hover > ul ul,
#megamenu .li331:hover > ul ul {
  position: unset;
  min-width: unset;
  border-radius: 0;
  -webkit-filter: none;
          filter: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  padding: 0;
}

#megamenu .li1 > ul,
#megamenu .li2 > ul,
#megamenu .li3 > ul,
#megamenu .li4 > ul,
#megamenu .li331 > ul {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 280px 1fr 1fr 1fr 1fr;
      grid-template-columns: 280px 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  margin-top: -1px;
  padding: 40px 100px;
  border-radius: 0;
}

#megamenu .li1 > ul li .menu-image,
#megamenu .li2 > ul li .menu-image,
#megamenu .li3 > ul li .menu-image,
#megamenu .li4 > ul li .menu-image,
#megamenu .li331 > ul li .menu-image {
  padding: 0;
}

#megamenu .li1 > ul li a:hover,
#megamenu .li2 > ul li a:hover,
#megamenu .li3 > ul li a:hover,
#megamenu .li4 > ul li a:hover,
#megamenu .li331 > ul li a:hover {
  border: none;
  background: unset;
}

#megamenu .li1 > ul li a img,
#megamenu .li2 > ul li a img,
#megamenu .li3 > ul li a img,
#megamenu .li4 > ul li a img,
#megamenu .li331 > ul li a img {
  width: 280px;
  height: auto;
}

#megamenu .li1 > ul .level_1,
#megamenu .li2 > ul .level_1,
#megamenu .li3 > ul .level_1,
#megamenu .li4 > ul .level_1,
#megamenu .li331 > ul .level_1 {
  display: block;
  position: relative;
}

#megamenu .li1 > ul .level_1:hover ul,
#megamenu .li2 > ul .level_1:hover ul,
#megamenu .li3 > ul .level_1:hover ul,
#megamenu .li4 > ul .level_1:hover ul,
#megamenu .li331 > ul .level_1:hover ul {
  display: block;
  margin: 0;
}

#megamenu .li1 > ul .level_1 a,
#megamenu .li2 > ul .level_1 a,
#megamenu .li3 > ul .level_1 a,
#megamenu .li4 > ul .level_1 a,
#megamenu .li331 > ul .level_1 a {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  position: relative;
}

#megamenu .li1 > ul .level_1 a i,
#megamenu .li2 > ul .level_1 a i,
#megamenu .li3 > ul .level_1 a i,
#megamenu .li4 > ul .level_1 a i,
#megamenu .li331 > ul .level_1 a i {
  display: none;
}

#megamenu .li1 > ul .level_1 a:hover,
#megamenu .li2 > ul .level_1 a:hover,
#megamenu .li3 > ul .level_1 a:hover,
#megamenu .li4 > ul .level_1 a:hover,
#megamenu .li331 > ul .level_1 a:hover {
  background: unset;
}

#megamenu .li1 > ul .level_1 a:focus, #megamenu .li1 > ul .level_1 a:focus-visible,
#megamenu .li2 > ul .level_1 a:focus,
#megamenu .li2 > ul .level_1 a:focus-visible,
#megamenu .li3 > ul .level_1 a:focus,
#megamenu .li3 > ul .level_1 a:focus-visible,
#megamenu .li4 > ul .level_1 a:focus,
#megamenu .li4 > ul .level_1 a:focus-visible,
#megamenu .li331 > ul .level_1 a:focus,
#megamenu .li331 > ul .level_1 a:focus-visible {
  background: none;
  outline: none;
}

#megamenu .li1 > ul .level_1 .droplv1 .level_2 .menu_item_a_2,
#megamenu .li2 > ul .level_1 .droplv1 .level_2 .menu_item_a_2,
#megamenu .li3 > ul .level_1 .droplv1 .level_2 .menu_item_a_2,
#megamenu .li4 > ul .level_1 .droplv1 .level_2 .menu_item_a_2,
#megamenu .li331 > ul .level_1 .droplv1 .level_2 .menu_item_a_2 {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 14px;
  color: #555555;
  padding: 6px 16px;
}

.li-menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.li-menu .a-menu {
  font-family: Monstserrat-SemiBold, sans-serif;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.li-menu .a-menu span {
  color: #737373;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.li-menu .a-menu:before {
  content: "";
  position: absolute;
  bottom: -15px;
  width: 0;
  height: 4px;
  background: #242424;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.li-menu .a-menu.hover span {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
  color: #242424;
}

.li-menu .a-menu.hover:before {
  width: 100%;
  transform: scale(1.3, 1);
  -webkit-transform: scale(1.3, 1);
  -moz-transform: scale(1.3, 1);
  -o-transform: scale(1.3, 1);
  -ms-transform: scale(1.3, 1);
}

.li-menu .drop-sub-menu {
  display: none;
  position: absolute;
  width: 100%;
  background: #fff;
  -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
          filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  top: 50px;
  left: 0;
  z-index: 100;
}

.li-menu .drop-sub-menu .main-drop-menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -30px;
  padding: 40px 0;
  height: auto;
  width: 90%;
  margin: auto;
}

@media all and (max-width: 820px) {
  .li-menu .drop-sub-menu .main-drop-menu {
    width: 100%;
  }
}

.li-menu .drop-sub-menu .main-drop-menu img {
  display: block;
  width: 200px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}

.li-menu .drop-sub-menu .main-drop-menu a {
  color: #333;
}

.li-menu .drop-sub-menu .main-drop-menu a:hover {
  color: #242424 !important;
}

.li-menu .drop-sub-menu .main-drop-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.li-menu .drop-sub-menu .main-drop-menu .col-menu {
  padding: 0 30px;
  border-right: 1px solid #e3e3e3;
  line-height: 30px;
}

.li-menu .drop-sub-menu .main-drop-menu .col-menu:last-child {
  border-right: none;
}

.li-menu .drop-sub-menu.active {
  display: block;
}

.ul-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: 1px solid #ddd;
  -webkit-box-shadow: 3px 3px 3px #888888;
          box-shadow: 3px 3px 3px #888888;
  margin: auto;
  padding: 0;
  list-style: none;
  height: 40px;
}

@media all and (max-width: 820px) {
  .ul-menu {
    display: none;
  }
  .ul-menu span {
    color: #242424;
  }
}

.ul-menu .li-menu {
  color: #fff;
  border-right: 1px solid #ddd;
  padding: 0px 35px;
}

.ul-menu .li-menu .a-menu {
  font-family: Monstserrat-SemiBold, sans-serif;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ul-menu .li-menu .a-menu span {
  color: #737373;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.ul-menu .li-menu .a-menu:before {
  content: "";
  position: absolute;
  bottom: -15px;
  width: 0;
  height: 4px;
  background: #242424;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.ul-menu .li-menu .a-menu.hover span {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
  color: #242424;
}

.ul-menu .li-menu .a-menu.hover:before {
  width: 100%;
  transform: scale(1.3, 1);
  -webkit-transform: scale(1.3, 1);
  -moz-transform: scale(1.3, 1);
  -o-transform: scale(1.3, 1);
  -ms-transform: scale(1.3, 1);
}

.ul-menu .li-menu:last-child {
  border-right: 0;
}

.ul-menu .li-menu:hover {
  z-index: 599;
  cursor: default;
}

.ul-menu .li-menu:hover > .drop-sub-menu {
  display: block !important;
}

.ul-menu .li-menu:hover > ul {
  visibility: visible;
}

.ul-menu .li-menu:hover > a {
  color: #fd0d00;
}

.ul-menu .li-menu:hover > a i {
  color: #737373;
}

.ul-menu .li-menu:hover .drop-sub-menu {
  display: block;
  position: absolute;
  top: 41px;
  left: 0px;
  z-index: 9999;
  background: #fff;
  width: 100%;
  min-height: 300px;
  display: none;
}

.ul-menu .li-menu:hover .drop-sub-menu a,
.ul-menu .li-menu:hover .drop-sub-menu p,
.ul-menu .li-menu:hover .drop-sub-menu tr,
.ul-menu .li-menu:hover .drop-sub-menu td,
.ul-menu .li-menu:hover .drop-sub-menu ul,
.ul-menu .li-menu:hover .drop-sub-menu li {
  color: #242424;
}

.ul-menu .li-menu:hover .drop-sub-menu ul {
  list-style-type: none;
}

.ul-menu .li-menu.activated a {
  color: #fd0d00;
}

.ul-menu .li-menu.activated a span {
  color: #fd0d00;
}

.ul-menu .li-menu.activated a i {
  color: #fff;
}

.ul-menu .li-menu .drop-sub-menu {
  position: absolute;
  top: 30px;
  left: 0px;
  z-index: 9999;
  background: #fff;
  width: 100%;
  min-height: 300px;
  display: none;
}

.ul-menu .li-menu .drop-sub-menu a,
.ul-menu .li-menu .drop-sub-menu p,
.ul-menu .li-menu .drop-sub-menu tr,
.ul-menu .li-menu .drop-sub-menu td,
.ul-menu .li-menu .drop-sub-menu ul,
.ul-menu .li-menu .drop-sub-menu li,
.ul-menu .li-menu .drop-sub-menu span,
.ul-menu .li-menu .drop-sub-menu strong,
.ul-menu .li-menu .drop-sub-menu b {
  color: #242424;
}

.ul-menu .li-menu .drop-sub-menu ul {
  list-style-type: none;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.grid-mobile-menu {
  margin-bottom: 20px;
  background: #f8f8f8;
}

.grid-mobile-menu .fixed-row-menu {
  position: fixed;
  width: 100%;
  top: 81px;
  border-top: 1px solid #ccc;
  z-index: 99;
  grid-gap: 0 !important;
}

.grid-mobile-menu .row-fixed-pos {
  margin-bottom: 8px;
}

.grid-mobile-menu .row-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1px;
}

.grid-mobile-menu .row-menu a {
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  position: relative;
  background: #fff;
  font-weight: 600;
  padding: 12px 5px;
}

.grid-mobile-menu .row-menu a img {
  width: 20px;
  margin-top: -10px;
}

@media (max-width: 820px) {
  #megamenu {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */